<div class="col-lg-12">
  <div class="col-lg-4 text-center">
    <div class="fb-share-button" data-href="{{ election_short_url }}" data-layout="button_count" data-mobile-iframe="false"></div>
  </div>

  <div class="col-lg-4 text-center">
    <a href="https://twitter.com/share" class="twitter-share-button" data-href="{{ election_short_url }}" data-via="localelections" data-size="" data-hashtags="localelection">Tweet</a>
  </div>

  <div class="col-lg-4 text-center">
    <div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ election_short_url }}"></div>
  </div>
</div>

<div class="col-lg-12 row text-center">
    <a href='{{ election_short_url }}' target='_blank'>{{ election_short_url }}</a>
</div>
