{% load compress staticfiles bootstrap bootstrap3 %}
<!-- election date -->
<div class="col-lg-12" data-formset-form>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div class="col-lg-3">
        {{ form.date|bootstrap}}
    </div>

    <div class="col-lg-3">
        {{ form.time|bootstrap}}
    </div>

    <div class="col-lg-3">
        {{ form.date_type|bootstrap}}
    </div>

    <div class="col-lg-3 actions-column text-right">
        {{ form.DELETE }}
        <button class="btn btn-secondary btn-xs xpull-right delete-row" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
    </div>
</div>
<!-- /election date -->
